@model PMS.Models.TblUser

@{
    ViewData["Title"] = "Chi tiết người dùng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card shadow border-0 rounded-3">
                <div class="card-body">

                    <!-- Header -->
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="card-title mb-0">Chi tiết người dùng</h4>
                        <a href="@Url.Action("Index")" class="btn btn-secondary btn-sm">
                            <i class="fa fa-arrow-left"></i> Quay lại
                        </a>
                    </div>
                    <hr />

                    <!-- User Details -->
                    <div class="row">
                        <div class="col-md-6">
                            <dl class="row">
                                <dt class="col-sm-4">Tên</dt>
                                <dd class="col-sm-8">@Html.DisplayFor(m => m.Name)</dd>

                                <dt class="col-sm-4">Mã nhân viên</dt>
                                <dd class="col-sm-8">@Html.DisplayFor(m => m.UserCode)</dd>

                                <dt class="col-sm-4">Ngày sinh</dt>
                                <dd class="col-sm-8">@Html.DisplayFor(m => m.Dob)</dd>

                                <dt class="col-sm-4">Email</dt>
                                <dd class="col-sm-8">@Html.DisplayFor(m => m.EmailAddress)</dd>

                                <dt class="col-sm-4">Tài khoản</dt>
                                <dd class="col-sm-8">@Html.DisplayFor(m => m.AccountName)</dd>

                                <dt class="col-sm-4">Số tài khoản</dt>
                                <dd class="col-sm-8">@Html.DisplayFor(m => m.BankNo)</dd>

                                <dt class="col-sm-4">Hệ số lương</dt>
                                <dd class="col-sm-8">@Html.DisplayFor(m => m.SalaryConfficient)</dd>
                            </dl>
                        </div>

                        <div class="col-md-6">
                            <dl class="row">
                                <dt class="col-sm-4">Ngày vào làm</dt>
                                <dd class="col-sm-8">@Html.DisplayFor(m => m.EmploymentDate)</dd>

                                <dt class="col-sm-4">Ngày cấp</dt>
                                <dd class="col-sm-8">@Html.DisplayFor(m => m.DateIssued)</dd>

                                <dt class="col-sm-4">Trạng thái</dt>
                                <dd class="col-sm-8">
                                    @if (Model.Status == 1)
                                    {
                                        <span>Hoạt động</span>
                                    }
                                    else
                                    {
                                        <span>Ngưng hoạt động</span>
                                    }
                                </dd>

                                <dt class="col-sm-4">Mô tả</dt>
                                <dd class="col-sm-8">@Html.DisplayFor(m => m.Description)</dd>

                                <dt class="col-sm-4">Người tạo</dt>
                                <dd class="col-sm-8">@Html.DisplayFor(m => m.CreatedUser)</dd>

                                <dt class="col-sm-4">Ngày tạo</dt>
                                <dd class="col-sm-8">@Html.DisplayFor(m => m.CreatedDate)</dd>

                                <dt class="col-sm-4">Người sửa</dt>
                                <dd class="col-sm-8">@Html.DisplayFor(m => m.ModifiedUser)</dd>

                                <dt class="col-sm-4">Ngày sửa</dt>
                                <dd class="col-sm-8">@Html.DisplayFor(m => m.ModifiedDate)</dd>
                            </dl>
                        </div>
                    </div>

                    <!-- Buttons -->
                    <div class="text-center mt-4">
                        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary btn-lg">
                            <i class="fa fa-edit"></i> Chỉnh sửa
                        </a>
                        <a asp-action="Index" class="btn btn-secondary btn-lg ms-2">
                            <i class="fa fa-arrow-left"></i> Quay lại
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
