@model IEnumerable<PMS.Models.TblBaseSalary>

@{
    ViewData["Title"] = "DANH MỤC MỨC LƯƠNG CƠ SỞ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .objRight {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
</style>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row row-head">
                    <div class="col-lg-9 ">
                        <h4 class="card-title" style="margin-bottom:0px;">Quản lý lương cơ sở</h4>
                    </div>
                    <div class="col-lg-3 objRight">
                        <a href="@Url.Action("Create")" class="btn btn-sm btn-success">Thêm mới</a>
                    </div>
                </div>

                <div class="table-responsive">
                    <table id="myTable" class="table table-bordered table-striped align-middle" style="table-layout: fixed; width:100%;">
                        <thead class="table-light">
                            <tr class="text-center"> 
                                <th style="width: 40px;">STT</th>
                                <th style="width: 150px;">Tên mức lương</th>
                                <th style="width: 130px;">Mức lương VNĐ</th>
                                <th style="width: 150px;">Ngày hiệu lực</th>
                                <th style="width: 340px;">Mô tả</th>
                                <th style="width: 60px;">Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                var i = 1;
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@(i++)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                        <td>@string.Format("{0:N0}", item.Value)</td>
                                        <td>@item.DateIssued.ToString("dd/MM/yyyy")</td>
                                        <td class="text-truncate" style="max-width:300px;" title="@item.Description">
                                            @item.Description
                                        </td>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.Id" class="text-primary me-3" title="Sửa">
                                                <i class="bi bi-pencil-square fs-5"></i>
                                            </a>
                                            <a asp-action="Delete" asp-route-id="@item.Id" class="text-danger" title="Xóa">
                                                <i class="bi bi-trash fs-5"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

